div  {
	padding: 0px;
	margin: 0px;
}

#chatlog {
	height: 200px;
	overflow: scroll;
}

.board {
	width: 640px;
	height: 640px;
	border: 1px solid #0F0;
	position: relative;
}

.selected {
	background-color: #0AA;
}

.square {
	width: 80px;
	height: 80px;
	position:relative;
	float: left;
	color: white;
}


.square:hover {
	background-color: yellow;
}

.square_black {
	background-color: #000;
}

.square_white {
	background-color: #A00;
}

.square_highlighted {
	border: 1px solid #0FF;
}

