* {
	font-family: Arial;
}

a {
  color: #5555CC
}

div  {
	padding: 0px;
	margin: 0px;
}

body {
	background: #111;
  color: white;
}

#waiting {
	float: left;
	width: 600px;
	height: 600px;
	padding: 20px;
	font-size: 24px;
	font-weight: bold;
	text-align: center;
	color: #EEE;
}

#chat {
  position: absolute;
  top: 460px;
  left: 30px;
  width: 252px;
  height: 165px;
  color: black;
}
#chat_messages {
  overflow-y: scroll;
  overflow-x: none;
  height: 134px;
  padding: 3px 2px;
  border-bottom: 1px solid black;
  font-size: 14px;
  font-weight: initial;
}
#chat_input {
  background: rgba(0, 0, 0, 0);
  height: 25px;
  border-style: none;
  outline: none;
  text-align: left;
  font-size: 16px;
  font-weight: initial;
}
.chat_name {
  padding-right: 15px;
  color: #964B00;
}
.chat_server {
  color: red !important;
}
#send_chat {
  font-size: 12px;
  width: 60px;
  height: 18px;
  top: 142px !important;
  left: 186px;
  border: none;

  color: #222;
  background-color: rgb(255, 204, 0);
  background-color: rgba(255, 204, 0, 0.9);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#DDFFCC00, endColorstr=#DDFFCC00);
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#DDFFCC00, endColorstr=#DDFFCC00)";
}


.overlay {
  position: absolute;
  top: 0px;
  left: 0px;
  text-align: center;
  font-size: 18px;
  font-weight: 800;
  padding: 4px 0px;
  z-index: 10000;

  -webkit-box-shadow: 2px 2px 2px #222;
     -mox-box-shadow: 2px 2px 2px #222;
          box-shadow: 2px 2px 2px #222;
	border-radius: 5px;
	-moz-border-radius: 5px;

  color: #DDD;
	background-color: rgb(51, 51, 51);
	background-color: rgba(51, 51, 51, 0.9);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#DD333333, endColorstr=#DD333333);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#DD333333, endColorstr=#DD333333)";
}

@media screen and (-webkit-min-device-pixel-ratio:0) { 
  #turn_overlay { top: 2px !important; }
  #bottom_overlay { top: 588px !important; }
}

#turn_overlay {
  width: 220px;
  left: 52px;
}

#bottom_overlay {
  position: absolute;
  top: 590px;
  left: 0px;
}

.guerrilla_board {
	background: top left no-repeat url('../images/guerrilla/board.jpg');
}

.guerrilla_side {
	background: top left no-repeat url('../images/guerrilla/side.jpg');
}

.coin_board {
	background: top left no-repeat url('../images/soldier/board.jpg');
}

.coin_side {
	background: top left no-repeat url('../images/soldier/side.jpg');
}

.board {
	width: 560px;
	height: 560px;
	padding: 40px;
	position: relative;
	margin-right: 10px;
	background-size: 640px 640px;
	border-radius: 10px;
	-moz-border-radius: 10px;
	float: left;
  z-index: 100;
}

#side {
  height: 611px;
  width: 262px;
  padding-right: 8px;
  padding-top: 14px;
  padding-bottom: 15px;
  position: relative;
  border-radius: 10px;
  -moz-border-radius: 10px;
  float: left;
  z-index: 100;
  background-size: 290px 640px;
  padding-left: 20px;
}

#side .guerrilla_side {
  width: 262px;
}

#side .coin_side {
  padding-left: 12px !important;
  width: 270px !important;
}

.guerrilla_side #soldier_status {
  position: relative;
  width: 262px;
  height: 200px;
  z-index: 1000;
}

.coin_side #soldier_status {
  position: absolute;
  top: 236px;
  width: 262px;
  height: 155px;
}

.guerrilla_side .captured_coin {
  position: absolute;
  width: 72px;
  height: 86px;
  background: top left no-repeat url('../images/guerrilla/captured_coin.png');
  z-index: 1000;
}

.coin_side .captured_coin {
  position: absolute;
  width: 72px;
  height: 86px;
  background: top left no-repeat url('../images/soldier/soldier_piece.png');
  z-index: 1000;
}

.guerrilla_side .captured_coin_position0 {
  top: 0px;
  left: 0px;
}
.guerrilla_side .captured_coin_position1 {
  top: 3px;
  left: 80px;
}
.guerrilla_side .captured_coin_position2 {
  top: 6px;
  left: 160px;
}
.guerrilla_side .captured_coin_position3 {
  top: 72px;
  left: 15px;
}
.guerrilla_side .captured_coin_position4 {
  top: 75px;
  left: 95px;
}
.guerrilla_side .captured_coin_position5 {
  top: 82px;
  left: 185px;
}

.coin_side .captured_coin_position0 {
  top: 4px;
  left: 0px;
}
.coin_side .captured_coin_position1 {
  top: 2px;
  left: 95px;
}
.coin_side .captured_coin_position2 {
  top: 0px;
  left: 190px;
}
.coin_side .captured_coin_position3 {
  top: 78px;
  left: 0px;
}
.coin_side .captured_coin_position4 {
  top: 75px;
  left: 97px;
}
.coin_side .captured_coin_position5 {
  top: 73px;
  left: 192px;
}

#playing_area {
  min-width: 1095px;
}

.soldier {
	position: absolute;
	left: 0px;
	top: 0px;
}

.selected {
  -webkit-animation: myanim 1s ease-in-out infinite; /* Saf5, Chrome */
     -moz-animation: myanim 1s ease-in-out infinite; /* FF5+ */
       -o-animation: myanim 1s ease-in-out infinite; /* Opera 12+ */
          animation: myanim 1s ease-in-out infinite; /* Saf5, Chrome */
}

@-webkit-keyframes myanim {
	0%, 100% { -webkit-transform: scale3d(1, 1, 1); zoom: 1; }
	50%      { -webkit-transform: scale3d(1.2, 1.2, 1); zoom: 1; }
}
@-moz-keyframes myanim {
	0%, 100% { -moz-transform: scale3d(1, 1, 1); zoom: 1; }
	50%      { -moz-transform: scale3d(1.2, 1.2, 1); zoom: 1; }
}
@-o-keyframes myanim {
	0%, 100% { -o-transform: scale3d(1, 1, 1); zoom: 1; }
	50%      { -o-transform: scale3d(1.2, 1.2, 1); zoom: 1; }
}
@keyframes myanim {
	0%, 100% { transform: scale3d(1, 1, 1); zoom: 1; }
	50%      { transform: scale3d(1.2, 1.2, 1); zoom: 1; }
}

#soldier_moves div, #guerrilla_moves div {
  z-index: 300;
}

#pieces {
  width: 100%;
  height: 100%;
}

#soldier_moves, #guerrilla_moves {
  visibility: hidden;
  opacity: 0.4;
}

.soldier_piece {
  position: absolute;
	width: 68px;
	height: 68px;
	margin: 2px;
}
.coin_theme_soldier {
  background: top left no-repeat url('../images/soldier/soldier_piece.png');
}
.guerrilla_theme_soldier {
  background: top left no-repeat url('../images/guerrilla/soldier_piece.png');
}

.guerrilla_piece {
  position: absolute;
	width: 39px;
	height: 40px;
	margin: 1px 1px 1px 3px;
}

.guerrilla_side #guerrilla_reserves {
  position: relative;
  margin-top: 5px;
  width: 262px;
  height: 200px;
  z-index: 1000;
}

.guerrilla_side .guerrilla_reserve {
  width: 28px !important;
  height: 28px !important;
  margin: 0px !important;
  background-size: 100% !important;
}

.coin_side #guerrilla_reserves {
  position: absolute;
  top: 59px;
  left: 40px;
  width: 210px;
  height: 115px;
  z-index: 1000;
}

.coin_side .guerrilla_reserve {
  position: absolute;
  float: left;
  border: 1px solid black;
  width: 10px;
  height: 10px;
  margin: 0px;
  z-index: 1001;
}

.coin_side .in_play {
}

.coin_side .in_reserve {
  background: green;
}

.coin_side .captured {
  position: relative;
  top: -4px;
  left: -5px;
  width: 25px;
  height: 25px;
  background-size: 100%;
}

.captured0 {
  background: top left no-repeat url('../images/soldier/captured_guerrilla01.png');
}

.captured1 {
  background: top left no-repeat url('../images/soldier/captured_guerrilla02.png');
}

.captured2 {
  background: top left no-repeat url('../images/soldier/captured_guerrilla03.png');
}

.coin_theme_guerrilla {
  background: top left no-repeat url('../images/soldier/guerrilla_piece.png');
}

.guerrilla_theme_guerrilla {
  background: top left no-repeat url('../images/guerrilla/guerrilla_piece.png');
}

.intersection {
	width: 60px;
	height: 60px;
	margin-top: -30px;
	margin-left: 38px;
	overflow: visible;
	position: relative;
	float: left;
	color: white;
}


.square_hover {
	background-color: rgb(255, 255, 0) !important;
	background-color: rgba(255, 255, 0, 0.4) !important;
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#66FFFF00, endColorstr=#66FFFF00) !important;
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#66FFFF00, endColorstr=#66FFFF00)" !important;
}

.square_black {
	background: none;
}

.square_white {
	background: none;
}

.square_highlighted {
	border: 1px solid #0FF;
}

