* {
	font-family: Arial;
}

div  {
	padding: 0px;
	margin: 0px;
}

body {
	background: #111;
  color: white;
}

#waiting {
	float: left;
	width: 600px;
	height: 600px;
	padding: 20px;
	font-size: 24px;
	font-weight: bold;
	text-align: center;
	color: #EEE;
}

.chat {
  color: black;
}
#chatlog {
	height: 580px;
	background: #EEE;
	padding: 5px;
	margin-bottom: 10px;
	overflow-y: scroll;
	overflow-x: none;
}

#overlay {
  position: absolute;
  text-align: center;
  font-size: 18;
  font-weight: 800;
  width: 210px;
  top: 592px;
  left: 62px;
  padding: 4px 0px;
  z-index: 10000;

  -webkit-box-shadow: 2px 2px 2px #333;
     -mox-box-shadow: 2px 2px 2px #333;
          box-shadow: 2px 2px 2px #333;
	border-radius: 5px;
	-moz-border-radius: 5px;

  color: #333;
	background-color: rgb(255, 255, 255);
	background-color: rgba(255, 255, 255, 0.9);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#DDFFFFFF, endColorstr=#DDFFFFFF);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#DDFFFFFF, endColorstr=#DDFFFFFF)";
}

.guerrilla_board {
	background: top left no-repeat url('../images/guerrilla/board.jpg');
}

.soldier_board {
	background: top left no-repeat url('../images/soldier/board.jpg');
}

.board {
	width: 560px;
	height: 560px;
	padding: 40px;
	position: relative;
	margin-right: 10px;
	background-size: 640px 640px;
	border-radius: 10px;
	-moz-border-radius: 10px;
	float: left;
}

.soldier {
	position: absolute;
	left: 0px;
	top: 0px;
	z-index: 1000;
}

img.guerrilla {
	width: 36px;
	height: 36px;
	margin-top: 12px;
	margin-left: 12px;
}

.piece {
}

img.shadow {
	opacity: 0.5;
}

.selected > img, .selected_img {
	-webkit-animation: myanim 1s infinite ease-in-out; /* Saf5, Chrome */
	-moz-animation: myanim 1s infinite ease-in-out; /* FF5+ */
	-o-animation: myanim 1s infinite ease-in-out; /* Opera 12+ */
	animation: myanim 1s infinite ease-in-out; /* Saf5, Chrome */

}

div.selected {
	background-color: rgb(0, 170, 170) !important;
	background-color: rgba(0, 170, 170, 0.4) !important;
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#6600AAAA, endColorstr=#6600AAAA) !important;
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#6600AAAA, endColorstr=#6600AAAA)" !important;
}

.box_animation:hover {
  -webkit-animation: myanim 5s infinite; /* Saf5, Chrome */
     -moz-animation: myanim 5s infinite; /* FF5+ */
       -o-animation: myanim 5s infinite; /* Opera 12+ */
          animation: myanim 5s infinite; /* Saf5, Chrome */
}

@-webkit-keyframes myanim {
	0%, 100% { -webkit-transform: rotate(0deg) scale3d(1, 1, 1); zoom: 1; }
	50%      { -webkit-transform: rotate(20deg) scale3d(1.2, 1.2, 1); zoom: 1; }
}
@-moz-keyframes myanim {
	0%, 100% { -moz-transform: rotate(0deg) scale3d(1, 1, 1); zoom: 1; }
	50%      { -moz-transform: rotate(20deg) scale3d(1.2, 1.2, 1); zoom: 1; }
}
@-o-keyframes myanim {
	0%, 100% { -o-transform: rotate(0deg) scale3d(1, 1, 1); zoom: 1; }
	50%      { -o-transform: rotate(20deg) scale3d(1.2, 1.2, 1); zoom: 1; }
}
@keyframes myanim {
	0%, 100% { transform: rotate(0deg) scale3d(1, 1, 1); zoom: 1; }
	50%      { transform: rotate(20deg) scale3d(1.2, 1.2, 1); zoom: 1; }
}

.square {
	width: 68px;
	height: 68px;
	margin: 1px;
	position: relative;
	float: left;
	color: white;

	-webkit-transition: background-color 0.3s ease-out;  /* Saf3.2+, Chrome */
	-moz-transition: background-color 0.3s ease-out;  /* FF4+ */
	-o-transition: background-color 0.3s ease-out;  /* Opera 10.5+ */
	transition: background-color 0.3s ease-out;
}

.intersection {
	width: 60px;
	height: 60px;
	margin-top: -30px;
	margin-left: 38px;
	overflow: visible;
	position: relative;
	float: left;
	color: white;
}


.square_hover {
	background-color: rgb(255, 255, 0) !important;
	background-color: rgba(255, 255, 0, 0.4) !important;
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#66FFFF00, endColorstr=#66FFFF00) !important;
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#66FFFF00, endColorstr=#66FFFF00)" !important;
}

.square_black {
	background: none;
}

.square_white {
	background: none;
}

.square_highlighted {
	border: 1px solid #0FF;
}

