* {
	font-family: Arial;
}

a {
  color: #5555CC
}

div  {
	padding: 0px;
	margin: 0px;
}

body {
	background: #111;
  color: white;
}

#chat {
  color: black;
}

.guerrilla_side #chat {
  position: absolute;
  top: 472px;
  left: 30px;
  width: 252px;
  height: 153px;
}

.coin_side #chat {
  position: absolute;
  top: 479px;
  left: 20px;
  width: 252px;
  height: 150px;
}

.guerrilla_side #chat_messages {
  overflow-y: scroll;
  overflow-x: none;
  height: 124px;
  padding: 3px 2px;
  border-bottom: 1px solid black;
  font-size: 14px;
  font-weight: initial;
}

.coin_side #chat_messages {
  position: relative;
  left: 15px;
  width: 218px;
  overflow-y: scroll;
  overflow-x: none;
  height: 114px;
  padding: 3px 2px;
  border-bottom: 2px solid black;
  font-size: 14px;
  font-weight: initial;
}
.guerrilla_side #chat_input {
  background: rgba(0, 0, 0, 0);
  height: 25px;
  width: 238px;
  border-style: none;
  outline: none;
  text-align: left;
  font-size: 16px;
  font-weight: initial;
}
.coin_side #chat_input {
  position: relative;
  left: 15px;
  background: rgba(0, 0, 0, 0);
  height: 25px;
  width: 225px;
  border-style: none;
  outline: none;
  text-align: left;
  font-size: 16px;
  font-weight: initial;
}
.chat_name {
  padding-right: 15px;
  color: #964B00;
}
.chat_server {
  color: red !important;
}

#settings_overlay {
  position: absolute;
  right: 1px;
  top: 5px;
  width: 27px;
  border: 2px solid #333333;
	background-color: rgb(51, 51, 51);
	background-color: rgba(151, 151, 151, 0.5);
  border-radius: 10px;
}

.setting_button {
  padding: 1px;
  position: relative;
  height: 25px;
  width: 25px;
  background-size: 25px 25px;
  z-index: 10000;
}

.setting_button:hover {
  padding: 0px;
  border: 1px solid #00FFFF;
  border-radius: 10px;
  -moz-border-radius: 10px;
}

.volume_control_on {
  background: center center no-repeat url('../images/sound_on.svg');
  background-size: 25px 25px;
}
.volume_control_off {
  background: center center no-repeat url('../images/sound_off.svg');
  background-size: 25px 25px;
}

.close_button {
  position: absolute;
  top: 0px;
  right: 0px;
  border-width: 2px 3px;
  /* border: solid #d3d3d3; */
  border: solid #EEE;
  border-radius: 4px;
  width: 20px;
  height: 19px;
  background: #EEE top left no-repeat url('../images/close.svg');
  background-size: 100%;
}

.hr {
  border-bottom: 3px solid #FFF;
  width: 100%;
  margin: 3px 0px;
}

#settings {
  background: center center no-repeat url('../images/settings.gif');
  background-size: 25px 25px;
}

#settings_dialog {
  position: absolute;
  visibility: hidden;
  z-index: 20000 !important;
}
#settings_dialog.guerrilla_theme {
  left: 284px; /* playing_area/2 - width/2 - padding-left/2 */
  top: 46px; /* board height/2 - height/2 - padding-top/2*/
  /*
   * image: 550x573
   * content area: 297x343
   * area for side padding: 230px;
   * area for top/bottom padding: 253;
   */
  padding-top: 98px !important;
  padding-bottom: 138px !important;
  padding-left: 130px !important;
  padding-right: 101px !important;
  width: 313;
  min-width: 313;
  height: 437;
}
#settings_dialog.coin_theme {
  left: 292px; /* playing_area/2 - width/2 - padding-left/2 */
  top: 56px; /* board height/2 - height/2 - padding-top/2*/
  /*
   * image: 573x476
   * content area: 297x343
   * area for side padding: 230px;
   * area for top/bottom padding: 253;
   */
  padding-top: 78px !important;
  padding-bottom: 73px !important;
  padding-left: 115px !important;
  padding-right: 145px !important;
  width: 313;
  min-width: 313;
  height: 325;
  box-shadow: 3px 3px 9px #000, -3px -3px 9px #000;
}
#dialog_content {
  position: relative;
  width: 100%;
}
#settings_content {
  position: relative;
}
#forfeit_content {
  position: absolute;
  top: 0px;
  left: 0px;
  visibility: hidden;
  width: 100%;
}
#settings_dialog .title {
  margin-left: 40px;
  font-size: 34px;
  font-family: Impact, Arial;
  text-shadow: 3px 3px 8px #000, -3px -3px 8px #000;
}
.dialog.guerrilla_theme {
  background: top left no-repeat url('../images/guerrilla/settings.png') !important;
  background-size: 100% !important;
}
.dialog.coin_theme {
  background: top left no-repeat url('../images/soldier/settings.png') !important;
  background-size: 100% !important;
}
.dialog:focus {
  outline: none;
}
.dialog *:focus {
  outline: none;
}

ul li.separator {
  min-height:30px;
  cursor: auto !important;
}
.dialog p {
  margin-left: 10px;
}
.dialog ul {
  list-style-type: none;
}
.dialog li,.close_button {
  cursor: hand;
  cursor: pointer;
}
.dialog li,a {
  color: #FFF;
  font-size: 22px;
  text-shadow: 3px 3px 8px #000, -3px -3px 8px #000;
}
.dialog .disabled {
  cursor: auto !important;
  color: #777777;
}
.dialog a {
  text-decoration: none;
}

.guerrilla_board {
	background: top left no-repeat url('../images/guerrilla/board.jpg');
}

.coin_board {
	background: top left no-repeat url('../images/soldier/board.jpg');
}

.board {
	width: 560px;
	height: 560px;
	padding: 40px;
	position: relative;
	margin-right: 10px;
	background-size: 640px 640px;
	border-radius: 10px;
	-moz-border-radius: 10px;
	float: left;
  z-index: 100;
}

#side {
  height: 611px;
  width: 262px;
  padding-right: 8px;
  padding-top: 14px;
  padding-bottom: 15px;
  position: relative;
  border-radius: 10px;
  -moz-border-radius: 10px;
  float: left;
  z-index: 100;
  background-size: 290px 640px;
  padding-left: 20px;
}

.guerrilla_side {
  background: top left no-repeat url('../images/guerrilla/side.jpg');
}
.coin_side {
  background: top left no-repeat url('../images/soldier/side.jpg');
}



.guerrilla_side #soldier_status {
  position: relative;
  width: 262px;
  height: 173px;
  z-index: 1000;
}

.coin_side #soldier_status {
  position: absolute;
  top: 236px;
  width: 262px;
  height: 155px;
}

.guerrilla_side .captured_coin {
  position: absolute;
  width: 72px;
  height: 86px;
  background: top left no-repeat url('../images/guerrilla/captured_coin.png');
  z-index: 1000;
}

.coin_side .captured_coin {
  position: absolute;
  width: 72px;
  height: 86px;
  background: top left no-repeat url('../images/soldier/soldier_piece.png');
  z-index: 1000;
}

.guerrilla_side .captured_coin_position0 {
  top: 0px;
  left: 0px;
}
.guerrilla_side .captured_coin_position1 {
  top: 3px;
  left: 80px;
}
.guerrilla_side .captured_coin_position2 {
  top: 6px;
  left: 160px;
}
.guerrilla_side .captured_coin_position3 {
  top: 72px;
  left: 15px;
}
.guerrilla_side .captured_coin_position4 {
  top: 75px;
  left: 95px;
}
.guerrilla_side .captured_coin_position5 {
  top: 82px;
  left: 185px;
}

.coin_side .captured_coin_position0 {
  top: 4px;
  left: 0px;
}
.coin_side .captured_coin_position1 {
  top: 2px;
  left: 95px;
}
.coin_side .captured_coin_position2 {
  top: 0px;
  left: 190px;
}
.coin_side .captured_coin_position3 {
  top: 78px;
  left: 0px;
}
.coin_side .captured_coin_position4 {
  top: 75px;
  left: 97px;
}
.coin_side .captured_coin_position5 {
  top: 73px;
  left: 192px;
}

#playing_area {
  min-width: 1095px;
}

.soldier {
	position: absolute;
	left: 0px;
	top: 0px;
}

.selected {
  -webkit-animation: myanim 1s ease-in-out infinite; /* Saf5, Chrome */
     -moz-animation: myanim 1s ease-in-out infinite; /* FF5+ */
       -o-animation: myanim 1s ease-in-out infinite; /* Opera 12+ */
          animation: myanim 1s ease-in-out infinite; /* Saf5, Chrome */
}

@-webkit-keyframes myanim {
	0%, 100% { -webkit-transform: scale3d(1, 1, 1); zoom: 1; }
	50%      { -webkit-transform: scale3d(1.2, 1.2, 1); zoom: 1; }
}
@-moz-keyframes myanim {
	0%, 100% { -moz-transform: scale3d(1, 1, 1); zoom: 1; }
	50%      { -moz-transform: scale3d(1.2, 1.2, 1); zoom: 1; }
}
@-o-keyframes myanim {
	0%, 100% { -o-transform: scale3d(1, 1, 1); zoom: 1; }
	50%      { -o-transform: scale3d(1.2, 1.2, 1); zoom: 1; }
}
@keyframes myanim {
	0%, 100% { transform: scale3d(1, 1, 1); zoom: 1; }
	50%      { transform: scale3d(1.2, 1.2, 1); zoom: 1; }
}

#soldier_moves div, #guerrilla_moves div {
  z-index: 300;
}

#pieces {
  width: 100%;
  height: 100%;
}

#soldier_moves, #guerrilla_moves {
  visibility: hidden;
  opacity: 0.5;
}

.soldier_piece {
  position: absolute;
	width: 68px;
	height: 68px;
	margin: 2px;
}
.coin_theme_soldier {
  background: top left no-repeat url('../images/soldier/soldier_piece.png');
}
.guerrilla_theme_soldier {
  background: top left no-repeat url('../images/guerrilla/soldier_piece.png');
}

.guerrilla_piece {
  position: absolute;
  width: 30px;
  height: 30px;
  margin: 6px 6px 6px 7px;
}
.guerrilla_shadow {
  width: 19px !important;
  height: 20px !important;
  margin: 11px 11px 11px 12px !important;
}

.guerrilla_side #guerrilla_reserves {
  position: relative;
  margin-top: 5px;
  left: -10px;
  width: 262px;
  height: 200px;
  z-index: 1000;
}

.guerrilla_side .guerrilla_reserve {
  width: 25px !important;
  height: 25px !important;
  margin: 0px !important;
  background-size: 100% !important;
}

.coin_side #guerrilla_reserves {
  position: absolute;
  top: 59px;
  left: 40px;
  width: 210px;
  height: 115px;
  z-index: 1000;
}

.coin_side .guerrilla_reserve {
  position: absolute;
  float: left;
  border: 1px solid black;
  width: 10px;
  height: 10px;
  margin: 0px;
  z-index: 1001;
}

.coin_side .in_play {
}

.coin_side .in_reserve {
  background: green;
}

.coin_side .captured {
  position: relative;
  top: -4px;
  left: -5px;
  width: 25px;
  height: 25px;
  background-size: 100%;
}

.captured0 {
  background: top left no-repeat url('../images/soldier/captured_guerrilla01.png');
}

.captured1 {
  background: top left no-repeat url('../images/soldier/captured_guerrilla02.png');
}

.captured2 {
  background: top left no-repeat url('../images/soldier/captured_guerrilla03.png');
}

.coin_theme_guerrilla {
  background: top left no-repeat url('../images/soldier/guerrilla_piece.png');
}

.guerrilla_theme_guerrilla {
  background: top left no-repeat url('../images/guerrilla/guerrilla_piece.png');
  background-size: 100%;
}

.intersection {
	width: 60px;
	height: 60px;
	margin-top: -30px;
	margin-left: 38px;
	overflow: visible;
	position: relative;
	float: left;
	color: white;
}


.square_hover {
	background-color: rgb(255, 255, 0) !important;
	background-color: rgba(255, 255, 0, 0.4) !important;
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#66FFFF00, endColorstr=#66FFFF00) !important;
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#66FFFF00, endColorstr=#66FFFF00)" !important;
}

.square_black {
	background: none;
}

.square_white {
	background: none;
}

.square_highlighted {
	border: 1px solid #0FF;
}

#dashboard {
  position: absolute;
  top: 590px;
  left: 90px;
  z-index: 10002;
}

.dashboard_section {
  background-color: rgb(61, 73, 70);
	background-color: rgba(61, 73, 70, 0.9);
  color: white;
  border-color: #AAA;
  border-width: 2px;
  border-style: solid;
  border-radius: 20px;
  height: 30px;
  text-align: center;
  float: left;
  z-index: 10002;
  margin-right: 2px;
  margin-left: 2px;
}

.dashboard_section .content {
  padding-top: 6px;
  verticle-align: middle;
  width: 226px;
  z-index: 10002;
}

#turn_alert {
  position: absolute;
  width: 70px;
  height: 70px;
  top: -20px;
  left: -35px;
  border: #777 2px solid;
  border-radius: 70px;
  background-color: rgb(97, 205, 254);
	background-color: rgba(97, 205, 254, 0.9);
  z-index: 10001 !important;
}

#status {
  position: relative;
  top: 0px;
  left: 0px;
  z-index: 10002;
}

#guerrillas_remaining_overlay {
}
